body {
  background-color: #ffe4f4; /* ורוד בהיר */
}

a, h1, h2, h3, h4, h5, h6 {
  color: #ff4da6 !important; /* ורוד עז */
}

.navbar,
.page-header,
footer {
  background-color: #ffb6d5 !important; /* ורוד פסטלי */
}
