@import "{{ site.theme }}";

// Pink theme custom styles 💖
body {
  background-color: #ffe6f2; /* ורוד בהיר */
}

h1, h2, h3, h4, h5, h6 {
  color: #d63384; /* ורוד כהה */
}

a {
  color: #ff66b2;
}

a:hover {
  color: hotpink;
}

header, .site-header {
  background-color: #ffb3d9 !important;
}
